<table>
    
{{#route}}
   <tr>
        <td>{{serviceName}}</td>
        <td>{{serviceDesc}}</td>
        <td><a href="/api{{uri}}" >{{operationName}}</a></td>
         <td>{{operationName}}</td>
        <td>{{operationDesc}}</td>
        <td>
            {{#parametes}}
                {{name}} {{type}} {{desc}}
            {{/parametes}}
        </td>
    </tr> 
{{/route}}

{{#routes}}
    <tr>
        <td>{{serviceName}}</td>
        <td>{{serviceDesc}}</td>
        <td><a href="/api{{uri}}" >{{operationName}}</a></td>
         <td>{{operationName}}</td>
        <td>{{operationDesc}}</td>
        <td>
            {{#parametes}}
                {{name}} {{type}} {{desc}}
            {{/parametes}}
        </td>
    </tr>
{{/routes}}
</table>